<% include header %>
<% include navigation %>

<h1> Details over de parken </h1>
<div id="details">
  <ul>
<li><span>Naam:</span> <%-parken.attributes.NAAM %></li>
<li><span>Beheerder: </span> <%-parken.attributes.BEHEERDER %></li>
<li><span>Postcode: </span><%-parken.attributes.POSTCODE %></li>
<li><span>District:</span> <%-parken.attributes.DISTRICT %></li>
<li><span>Straatnaam:</span> <%-parken.attributes.STRAATNAAM %></li>
<li><span>Type: </span><%-parken.attributes.TYPE %></li>
</ul>
<div class="terugKnoppen">
<button class="backMap"><a  href='/parken'>Map</a></button>
<button class="backMap"><a href='/lijst'>Lijst</a></button>
</div>
</div>
<% include footer %>
