<% include header %>
<div id="details">
<p>Naam:</p><p><%-parken.attributes.NAAM %></p>
<p>Beheerder:</p><p><%-parken.attributes.BEHEERDER %></p>
<p>Vorm:</p><p><%-parken.attributes.SHAPE %></p>
<p>Postcode:</p><p><%-parken.attributes.POSTCODE %></p>
<p>District:</p><p><%-parken.attributes.DISTRICT %></p>
<p>Straatnaam:</p><p><%-parken.attributes.STRAATNAAM %></p>
<p>Type:</p><p><%-parken.attributes.TYPE %></p>
</div>
<% include footer %>
