<% include header %>
        <% include navigation %>
        <h1>Parken in Antwerpen</h1>


        <% for(var i=0; i < parken.length; i++) { %>
          <div class="lijstdiv>
            <div class="<%- parken[i].attributes.POSTCODE %>">
                <header>
                    <a href='/parken/<%=i %>'><h2><%-parken[i].attributes.NAAM %></h2></a>
                </header>
                <section>
                    <p>Straat: <%-parken[i].attributes.STRAATNAAM %></p>
                    <p>Type: <%-parken.attributes.TYPE %></p>
                </section>
                <footer>

                </footer>
              </div>
</div>
        <% } %>
<% include footer %>
