<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>Parken in Antwerpen</title>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
        <link rel="stylesheet" href="css/map.css">
    </head>
    <body>
        <h1>Parken in Antwerpen</h1>

        <div id="map"></div>
        <% for(var i=0; i < parken.length; i++) { %>
            <div class="<%- parken[i].attributes.POSTCODE %>">
                <header>
                    <h1>Park:</h1>
                    <h2><%-parken[i].attributes.NAAM %></h2>
                </header>
                <section>
                    <p>coord: <%-parken[i].geometry.rings[0][0][0] %> <%-parken[i].geometry.rings[0][0][1] %></p>
                </section>
                <footer>

                </footer>
            </div>
        <% } %>

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
        <script src="js/map.js"></script>

        <script>
            <% for(var i=0; i < parken.length; i++) { %>
            L.marker([<%-parken[i].geometry.rings[0][0][1] %>, <%-parken[i].geometry.rings[0][0][0] %>]).addTo(map)
                .bindPopup("<%- parken[i].attributes.NAAM%>")
            <% } %>
        </script>
    </body>
</html>
