<% include header %>
        <h1>Parken in Antwerpen</h1>

        <div id="map"></div>
        <% for(var i=0; i < parken.length; i++) { %>
            <div class="<%- parken[i].attributes.POSTCODE %>">
                <header>
                    <h1>Park:</h1>
                    <a href='/parken/<%=i %>'><h2><%-parken[i].attributes.NAAM %></h2></a>
                </header>
                <section>
                    <p>coord: <%-parken[i].geometry.rings[0][0][0] %> <%-parken[i].geometry.rings[0][0][1] %></p>
                </section>
                <footer>

                </footer>
            </div>
        <% } %>

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
        <script src="js/map.js"></script>


        <script>
            <% for(var i=0; i < parken.length; i++) { %>
            L.marker([<%-parken[i].geometry.rings[0][0][1]%>, <%-parken[i].geometry.rings[0][0][0] %>]).addTo(map)
                .bindPopup("<a href='/parken/<%=i %>'><h2><%-parken[i].attributes.NAAM %></h2></a>");

            <% } %>
            L.geoJSON(geojsonFeature).addTo(map);
        </script>
<% include footer %>
